    <div class="footer-bar row">
      <div class="col-4">
        <ul class="footer-link-list">

          <li class="footer-link-title">Hours</li>

          <li class="footer-link">Monday-Friday: 7:00am-6:00pm</li>

          <li class="footer-link">Saturday & Sunday: By Appointment</li>
        
        </ul>
      </div>

      <div class="col-4">
        <ul class="footer-link-list">

          <li class="footer-link-title">Contact</li>

          <li class="footer-link">Phone: 951-407-0837</li>

          <li class="footer-link">Email: info@umagineID.com</li>
        
        </ul>
      </div>

      <div class="col-4">
        <ul class="footer-link-list">
          
          <li class="footer-link-title">Social Media</li>

          <li class="footer-link-title socialmediaicons">

            <span><a href="/" class="fab fa-facebook-square"></a></span>

            <span><a href="/" class="fab fa-instagram-square"></a></span>

            <span><a href="/" class="fab fa-yelp"></a></span>

          </li>
        
        </ul>
      </div>

      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>