<%- include('partials/header.ejs') %>
<div id="hp-s1" class="row full-page">
  
  <div class="bg-overlay"></div>

  <div id="hp-s1-header" class="col-12">
    <div id="hp-welcome-wrapper">

      <h1 id="hp-s1-welcome" class="hp-s1-item text-center">HIGH QUALITY DESIGN, AFFORDABLE PRICING, UMAGINE IT.</h1>

      <h4 id="hp-s1-secondary" class="text-center hp-s1-item">Here at Umagine interior design, we put <span id="youFirst">"U"</span> first! We will work around what you want and take care of all the 
        gritty details so that you can get the feel you want out of your home without the boring stuff.
      </h4>

      <a id="hp-consult-book" href="/book" class="btn btn-sm btn-info hp-s1-item">BOOK A CONSULTATION</a>

    </div>
  </div>

</div>
<div id="hp-s2" class="row full-page-last">
  <div id="hp-s2-wrapper" class="col-12 container d-lg-block">

    <h1 id="hp-meet-header" class="text-center">MEET OUR DESIGNERS</h1>

    <div class="row our-designers">
      <div class="col-12 col-md-4  designer-image-wrapper">

        <img class="designer-image" src="/images/austin_scott.jpg">

      </div>
      <div class="col-12 col-md-4 designer-image-wrapper">

        <img class="designer-image" src="https://i.imgur.com/ZTP7fj4.jpg">

      </div>
      <div class="col-12 col-md-4 designer-image-wrapper">

        <img class="designer-image" src="/images/trinity_guzman.jpg">

      </div>
      <div id="hp-designer-btn" class="btn btn-sm btn-info mx-auto">LEARN MORE</div>
    </div>
    <div id="hp-ourwork" class="row">
      <div class="bg-overlay"></div>
      <div id="hp-seeourwork-wrapper" class="col-12">
      
        <a href="/portfolio" id="hp-seeourwork">SEE OUR WORK</a>
      
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>