<%- include('partials/header.ejs') %>
<div id="wp-s1" class="row full-page">
  <div class="bg-overlay"></div>
  <div id="wp-s1-top-wrapper" class="row">
    <div id="wp-s1-top" class="col-12">

      <h1 id="wp-header-1" class="wp-header-text">TAKE A GANDER.</h1>

      <h3 id="wp-header-2" class="wp-header-text">Here are some of our custom designs.</h3>

    </div>
  </div>
  <div id="wp-s1-bottom-wrapper" class="row">
    <div id="wp-s1-bottom" class="col-12">
      <h5 id="wp-grid-head"><span><i class="fas fa-arrow-left"></i></span> Click and drag to see more <span><i class="fas fa-arrow-right"></i></span></h5>
      <div class="grid-item main">
        <div class="items">

          <div class="item item1"></div>
          
          <div class="item item2"></div>
          
          <div class="item item3"></div>
          
          <div class="item item4"></div>
          
          <div class="item item5"></div>
          
          <div class="item item6"></div>
          
          <div class="item item7"></div>
          
          <div class="item item8"></div>
        
          <div class="item item9"></div>
          
          <div class="item item10"></div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>