<%- include('partials/header.ejs') %>
<div id="prp-s1" class="row full-page-last">

  <div id="prp-title-wrapper" class="row">
    <div class="col-12">

      <h1 id="prp-title">THE PROCESS</h1>
      
    </div>
  </div>

  <div id="prp-steps-wrapper" class="row">
    <div class="prp-step-wrapper col-lg-3 col-12">

      <h1 class="prp-step-title">Our Promise</h1>
      
      <p class="prp-step-body">Here at Umagine Interior Design, we always put "U" first. Our promise to you is that we will respect your creative
        freedom and never stray from your dream. The process for each room all begins with a general selection of colors. 
        After that we will build on the initial color with an overall "mood" for the room. Mood examples are urban, modern,
        gothic, and other themes (Be creative!). 
      </p>

    </div>
    <div class="prp-step-wrapper col-lg-3 col-12">

      <h1 class="prp-step-title">Materials</h1>

      <p class="prp-step-body">Once you've chosen your color scheme and dream theme,
        we will work with you to pick out materials that work within your budget while staying true
        to your vision. Our process is very detail oriented to ensure nothing is left out.
      </p>

    </div>
    <div class="prp-step-wrapper col-lg-3 col-12">

      <h1 class="prp-step-title">Draw & Build</h1>

      <p class="prp-step-body">After we have a green light on the materials, we will draw out your home on CAD to show you a realistic
        version of what your home would look like with all the approved changes. After everything is ready to go, we'll do our part and
        work along with your builder to turn the room(s) you imagined into reality.
      </p>

    </div>
    <div class="prp-step-wrapper col-lg-3 col-12">

      <h1 class="prp-step-title">Relax</h1>

      <p class="prp-step-body">After we've done our work and double checked everything to make sure you are completely satisfied with the finished
        project, you can relax and enjoy the mood of your freshly redesigned room(s)! You deserve it.
      </p>

    </div>
    <div id="prp-underlay-wrapper" class="row">
      <div id="prp-underlay" class="col-12">

        <h5 id="underlay-text">Ready to start? <a href="book">Click Here</a></h5>
      
      </div>
    </div>
  </div>
</div>





<%- include('partials/footer.ejs') %>